/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navbar-breadcrumb{ /* Seletor do container da breadcrumb */
  padding: 0 20px; /* Atributo de margem interna na vertical e horizontal */
}
